!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}/
    %title= @meta_title ? @meta_title : 'PZU Generator Pomysłów'
    %meta{title: @meta_title ? @meta_title : 'PZU Generator Pomysłów'}
    %meta{:name => "description", :content =>  @meta_description ? @meta_description : 'Meta desc default'}/
    = csrf_meta_tags

    %body{ data: { controller: controller_name, action: action_name } }
      %pre= params.inspect if Rails.env.development?
      = yield
    %link{:href => "https://fonts.googleapis.com/css?family=Poppins:400,600&subset=latin-ext", :rel => "stylesheet"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
